<!DOCTYPE html>

<html>
    <head>
       <link rel="stylesheet" href="/css/style.css">
       <script src="/js/mijs.js"></script>

    </head>
    <body >
        {{>header}}
        <p>Pagina no encontrada!</p>
        {{>footer}}
    </body>
</html>