<!DOCTYPE html>

<html>
    <head>
        <title>Este es el titulo de mi App</title>
        <link rel="icon" href="/img/weather.png">
       <link rel="stylesheet" href="/css/style.css">
       <script src="/js/mijs.js"></script>

    </head>
    <body >
        <div class="main-content">
            {{>header}}
            <p>Aqui el contenido de esta pagina... voy a cambiar esto y hacer push y ver si se ha actualizado automaticamente!</p>
        </div>
        
        
        {{>footer}}
    </body>
</html>